{% extends 'mydashboard/base.html' %}
{% load i18n %}
{% block title %}{% trans "NexentaEdge Dashboard" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("NexentaEdge Dashboard") %}
{% endblock page_header %}

{% block mydashboard_main %}
  <div class="row">
    <div class="col-sm-12">
    {{ tab_group.render }}
    </div>
  </div>

  <h4>Clusters:</h4>
  <ul>
    {% for c in clusters %}
      <li />{{ c }}
    {% endfor %}
  </ul>

  <h5>Python version: {{ python_version }}</h5>

{% endblock %}
