{% extends 'mydashboard/base.html' %}
{% load i18n %}
{% block title %}{% trans "NexentaEdge Dashboard" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("NexentaEdge Dashboard") %}
{% endblock page_header %}

{% block mydashboard_main %}
  <div class="row hide">
    <div class="col-sm-12">
    {{ tab_group.render }}
    </div>
  </div>

  <h3>Cluster Status:</h3>
  <b>Status:</b> Online

  <ul class="hide">
    {% for c in clusters %}
      <li />{{ c }}
    {% endfor %}
  </ul>

  <h3>Nodes</h3>
  <ul>
    <li /> <img src="/static/dashboard/img/green.png" alt='' /> 11 Node(s) OK
    <li /> <img src="/static/dashboard/img/yellow.png" alt='' />  1 Node(s) DEGRADED
    <li /> <img src="/static/dashboard/img/red.png" alt='' />  0 Node(s) FAULTED state
  </ul>

  <hr />

  <h3>Statistics:</h3>
  <h4>Storage Statistics:</h4>
  <div class="row storage-statistics">
    <div class="col-1"><div>
      Total storage capacity: 24TB<br />
      Used storage capacity: 10TB<br />
      Available capacity: 16TB<br />
    </div></div>
    <div class="col-2"><div>
      Compression ratio: 1.05x<br />
      Deduplication ratio: 2.01x<br />
    </div></div>
    <div class="c"></div>
  </div>
  <div class="c"></div>

  <div class="row storage-statistics">
    <div class="col-1"><div>
      Number of objects: 454,435<br />
      Average object size: 120Kb<br />
    </div></div>
    <div class="col-2"><div>
      # of snapshots: 3355<br />
    </div></div>
    <div class="c"></div>
  </div>

  <h4>Node Statistics:</h4>

{% endblock %}
