{% extends 'base.html' %}

{% block sidebar %}
  {% include 'horizon/common/_sidebar.html' %}
{% endblock %}

{% block main %}
    {% include "horizon/_messages.html" %}
    <div id="nexenta_dashboard_main">{% block mydashboard_main %}{% endblock %}</div>
{% endblock %}

<!-- From: http://docs.openstack.org/developer/horizon/topics/customizing.html -->
{% block js %}
    {% include 'horizon_nedge_dashboard/_scripts.html' %}
{% endblock %}


{% block css %}
  {% include "_stylesheets.html" %}
  <link href='{{ STATIC_URL }}horizon_nedge_dashboard/css/nedge.css' type='text/css' media='screen' rel='stylesheet' />

  {% load compress %}
  {% compress css %}
  {% endcompress %}
{% endblock %}
